<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mxth.gamebox">

    <permission
        android:name="com.lody.virtual.permission.VIRTUAL_BROADCAST"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.lody.virtual.permission.VIRTUAL_BROADCAST" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".VApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/ColorTranslucentTheme">
        </activity>
        <activity android:name=".SplashActivity" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <!-- <service
            android:name="com.lody.virtual.client.stub.KeepService"
            android:process=":x" />
        <provider
            android:name="com.lody.virtual.service.BinderProvider"
            android:authorities="virtual.service.BinderProvider"
            android:exported="false"
            android:process=":x" />

        <activity
            android:name="com.lody.virtual.client.stub.ShortcutHandleActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.lody.virtual.client.stub.StubActivity$C0"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:process=":p0">
            <meta-data
                android:name="X-Identity"
                android:value="Stub-User" />
        </activity>

        <provider
            android:name="com.lody.virtual.client.stub.StubContentProvider$C0"
            android:authorities="virtual.client.stub.StubContentProvider0"
            android:exported="false"
            android:process=":p0">
            <meta-data
                android:name="X-Identity"
                android:value="Stub-User" />
        </provider>-->
    </application>

</manifest>